# Object files
*.o
bin

# Executables
*.out
mine
mine-server

# Emacs backup files
*~
\#*\#
.\#*

# Generated source files
errlibt.s
errno.inc

# Generated temporary files
*temp*

# Pi-Mine log files
*log*